.Home {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'LondrinaSolid-Regular', sans-serif;

    .home-banner {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(-180deg, var(--primary-color), var(--secondary-color));
        color: #fff;
        flex-wrap: wrap; /* Adiciona wrap para flexbox em telas pequenas */

        .content {
            flex: 1;
            max-width: 50%;
            h1 {
                font-size: 4rem;
                font-weight: bold;
                margin-bottom: 1rem;
            }
            p {
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
            .cta-button {
                background-color: #fff;
                color: var(--primary-color);
                padding: 0.8rem 2rem;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;

                &:hover {
                    background-color: #f4f4f4;
                }
            }
        }

        .image-container{
            display: flex;
            justify-content: center;
        }

        .image-container img {
            border-radius: 10px;
            width: 100%; /* Ajusta a largura para 100% em telas pequenas */
            width: 450px; /* Limita a largura em dispositivos móveis */
            max-height: 390px;
            object-fit: cover;
        }

        @media (max-width: 768px) {
            .content {
                max-width: 100%; /* Ocupa toda a largura em dispositivos móveis */
                text-align: center; /* Centraliza o texto */
            }

            .image-container {
                display: flex;
                justify-content: center;
                margin-top: 2rem; /* Espaço entre texto e imagem */
                width: 300px;
            }
        }
    }

    .sobre-nos {
        padding: 3rem;
        text-align: center;

        h2 {
            margin-bottom: 1.5rem;
            font-size: 2.5rem;
            color: var(--primary-color);
        }

        p {
            font-size: 1.1rem;
            margin-bottom: 2rem;
        }

        .about-grid {
            display: flex;
            gap: 2rem;
            justify-content: center;

            .about-item {
                max-width: 300px;
                h3 {
                    color: var(--secondary-color);
                    margin-bottom: 1rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }

        @media (max-width: 768px) {
            .about-grid {
                flex-direction: column;
                align-items: center; /* Alinha os itens em coluna em telas menores */
            }

            .about-item {
                max-width: 100%;
                margin-bottom: 2rem; /* Espaçamento entre os itens */
            }
        }
    }

    .funcionalidades {
        padding: 3rem;
        background-color: #f4f4f4;

        h2 {
            margin-bottom: 2rem;
            font-size: 2rem;
            color: var(--secondary-color);
        }

        .features {
            display: flex;
            gap: 2rem;
            justify-content: center;

            .feature {
                text-align: center;
                max-width: 300px;

                img {
                    max-width: 100%;
                    border-radius: 10px;
                }

                h3 {
                    margin: 1rem 0;
                    color: var(--primary-color);
                }
            }
        }

        @media (max-width: 768px) {
            .features {
                flex-direction: column; /* Alinha as funcionalidades em coluna */
                gap: 1rem;
                align-items: center; /* Reduz o espaçamento */
            }

            .feature {
                max-width: 100%;
                margin-bottom: 2rem; /* Espaçamento entre as funcionalidades */
            }
        }
    }

    .depoimentos {
        padding: 3rem;
        text-align: center;

        h2 {
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .depoimentos-container {
            display: flex;
            gap: 2rem;
            justify-content: center;

            .depoimento {
                max-width: 300px;
                background-color: #f9f9f9;
                padding: 1.5rem;
                border-radius: 10px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

                p {
                    font-size: 1rem;
                    margin-bottom: 1rem;
                }

                span {
                    font-weight: bold;
                    color: var(--primary-color);
                }
            }
        }

        @media (max-width: 768px) {
            .depoimentos-container {
                flex-direction: column; /* Alinha os depoimentos em coluna */
                gap: 1.5rem;
                align-items: center;
            }

            .depoimento {
                max-width: 100%; /* Ocupa toda a largura em dispositivos móveis */
            }
        }
    }

    .secao-chamada {
        padding: 3rem;
        text-align: center;
        background: var(--primary-color);
        color: #fff;

        h2 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1.5rem;
        }

        .cta-button {
            background-color: #fff;
            color: var(--primary-color);
            padding: 0.8rem 2rem;
            border-radius: 5px;
            text-decoration: none;

            &:hover {
                background-color: #f4f4f4;
            }
        }

        @media (max-width: 768px) {
            .cta-button {
                font-size: 1.1rem; /* Ajusta o tamanho da fonte do botão */
                padding: 1rem 2rem; /* Aumenta o tamanho do botão */
            }
        }
    }
}
