.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);

  .form-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;

    .logo {
      width: 100px;
      margin-bottom: 20px;
    }

    h1 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
    }

    button {
      background-color: #ae00ff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      width: 100%;
      cursor: pointer;
    }

    a {
      color: #ae00ff;
      text-decoration: none;
      font-size: 12px;
    }
  }
}
