.Quadras {
    .quadras-section {
        padding: 20px;
        text-align: center;

        h1 {
            font-size: 2rem;
            color: var(--primary-color);
            margin-bottom: 20px;
            font-family: 'LondrinaSolid-Regular', sans-serif;
        }

        .quadras-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
        }
    }
}
