.pagina-aluguel-quadras {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cabecalho {
    text-align: center;
    padding: 40px 0;
    background-color: var(--cor-primaria);
    color: #fff;
}

.cabecalho h1 {
    font-family: 'LondrinaSolid-Regular';
    font-size: 36px;
}

.cabecalho p {
    font-family: 'Khula-Regular';
    font-size: 18px;
}

.lista-quadras {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto;
}
