
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

.Registro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #8b8b8b4d;
    font-family: 'Khula-Regular', sans-serif;

    .container {
        display: flex;
        width: 80%;
        max-width: 1200px;
        height: 80vh;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        overflow: hidden;
        border-radius: 15px;

        .form-image {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #e3caee;
            padding: 1rem;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px;
            }
        }

        .form {
            font-family: 'Khula-Regular', sans-serif;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3rem;
            color: #333;

            .form-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 2rem;

                .title {
                    font-size: 1.5rem;
                    color: #6c63ff;
                }

                .login-button {
                    font-family: 'Khula-Regular', sans-serif;
                    background-color: var(--primary-color);
                    color: #fff;
                    padding: 0.4rem 1rem;
                    border-radius: 5px;
                    text-decoration: none;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: #bb26f7;
                        box-shadow: 3px 3px 10px #6e6e6e;
                    }
                }
            }

            .input-group {
                display: flex;
                flex-wrap: wrap;
                gap: 1.2rem;

                .input-box {
                    font-family: 'Khula-Regular', sans-serif;
                    flex: 1 1 48%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 0.85rem;
                        font-weight: 500;
                        color: #333;
                    }

                    input, select {
                        margin-top: 0.6rem;
                        padding: 0.8rem 1rem;
                        border: 1px solid #ddd;
                        border-radius: 8px;
                        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
                        font-size: 0.9rem;

                        &:focus {
                            border-color: var(--primary-color);
                            outline: none;
                        }
                    }
                }
            }

            .continue-button {
                margin-top: 1.5rem;
                width: 100%;
                padding: 0.8rem;
                background-color: (var(--primary-color));
                color: #fff;
                font-size: 1rem;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #bb26f7;
                    box-shadow: 3px 3px 10px #6e6e6e;
                }
            }
        }
    }

    @media screen and (max-width: 1024px) {
        .container {
            width: 90%;
            flex-direction: column;

            .form-image {
                display: none;
            }

            .form {
                width: 100%;
                padding: 2rem;
            }

            .input-group {
                flex-direction: column;
            }

            .input-box {
                width: 100%;
            }
        }
    }
}
