.QuadraCard {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    transition: transform 0.3s;
    position: relative;

    &:hover {
        transform: translateY(-5px);
    }

    .imagem-container {
        position: relative;
        width: 100%;
        height: 180px;

        .quadra-imagem {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }

        .seta-esquerda,
        .seta-direita {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 2;
            font-size: 18px;

            &:hover {
                background: rgba(0, 0, 0, 0.8);
            }
        }

        .seta-esquerda {
            left: 10px;
        }

        .seta-direita {
            right: 10px;
        }
    }

    .quadra-detalhes {
        text-align: center;
        margin-top: 15px;

        h3 {
            font-size: 1.5rem;
            color: var(--primary-color);
            font-family: 'LondrinaSolid-Light', sans-serif;
        }

        p {
            font-size: 1rem;
            margin: 5px 0;
            color: #555;
            font-family: 'LondrinaSolid-Light', sans-serif;
        }

        .criar-partida-btn {
            margin-top: 15px;
            background: linear-gradient(135deg, #6E00F7, #AE00FF);
            color: white;
            padding: 12px 24px;
            border: none;
            border-radius: 8px;
            font-family: 'Khula-SemiBold', sans-serif;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;

            &:hover {
                transform: translateY(-3px);
                box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
                background: linear-gradient(135deg, #5A00C9, #9200CC);
            }

            &:active {
                transform: translateY(1px);
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
                background: linear-gradient(135deg, #4A00A9, #7A00A9);
            }
        }
    }
}
