.Registro, .Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

    .container {
        display: flex;
        flex-direction: row; /* Mantém a imagem e o formulário lado a lado */
        width: 80%;
        max-width: 1000px;
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden;

        .form {
            padding: 2rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                color: var(--primary-color);
                margin-bottom: 1rem;
                font-family: 'LondrinaSolid-Regular', sans-serif;
            }

            .input-group {
                margin-bottom: 1rem;

                label {
                    font-weight: bold;
                    color: #333;
                    font-family: 'LondrinaSolid-thin', sans-serif;
                }

                input, select {
                    width: 100%;
                    padding: 0.8rem;
                    margin-top: 0.5rem;
                    border-radius: 5px;
                    border: 1px solid #ddd;
                    font-size: 1rem;
                    font-family: 'LondrinaSolid-Light', sans-serif;
                }

                a {
                    font-family: 'LondrinaSolid-Light', sans-serif;
                    text-decoration: none;
                    color: var(--primary-color);
                    transition: color 0.3s;

                    &:hover {
                        color: #7c00b8;
                    }
                }

                input:focus {
                    border-color: var(--primary-color);
                    outline: none;
                }
            }

            .submit-btn {
                width: 100%;
                padding: 0.8rem;
                background-color: var(--primary-color);
                color: #fff;
                border: none;
                border-radius: 5px;
                font-size: 1.1rem;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.3s;
                font-family: 'LondrinaSolid-Light', sans-serif;

                &:hover {
                    background-color: #7c00b8;
                }
            }

            .error {
                color: #f44336;
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }

            .success {
                color: #4caf50;
                font-size: 0.9rem;
                margin-top: 0.5rem;
            }

            p {
                margin-top: 1rem;
                text-align: center;
                font-family: 'LondrinaSolid-Light', sans-serif;

                a {
                    color: var(--primary-color);
                    text-decoration: none;
                    font-family: 'LondrinaSolid-Light', sans-serif;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        .form-image {
            display: block;
            flex: 1; /* Faz a imagem ocupar metade do container */
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;

            img {
                max-width: 100%;
                height: auto;
                border-radius: 10px; /* Mantém a imagem com bordas suaves */
            }
        }
    }

    @media (max-width: 768px) {
        .container {
            flex-direction: column; /* Empilha o formulário e a imagem no mobile */
        }

        .form-image {
            display: none; /* Esconde a imagem em telas menores */
        }

        .form {
            width: 100%; /* Garante que o formulário ocupe todo o espaço no mobile */
        }
    }
}
