.Home{
    display: flex;
    flex-direction: column;
    width: 100%;

    .secao1{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: var(--primary-color);
        color: #fff;
        div{
            display: flex;
            flex-direction: column;
            width: 50%;
            align-items: center;
            align-content: center;
        }
        h1{
            font-family: 'LondrinaSolid-Regular';
            font-size: 30px;
            line-height:40px
        }
        p{
            font-family: 'Khula-SemiBold';
            font-size: 15px;
            line-height:25px
        }
        img{
            width: 100%;
            max-height: 480px;
            object-fit: cover;
            border-radius: 90px;
        }
        .texto-secao1{
            justify-content: center;
            width: 60%;
            div{
                gap: 25px;
            }
        }
    }

    .secao2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 100%;
        max-width: 1500px;

        h2 {
            margin: 30px 0px;
            font-family: 'LondrinaSolid-Regular';
            font-size: 30px;
            color: var(--secondary-color);
            text-align: center;
        }

        .esportes-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
            width: 100%;
            margin: 20px 0px;

            .esporte {
                position: relative;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 350px;
                height: 200px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 15px;
                overflow: hidden;
                transition: all 0.3s;
                
                p {
                    position: absolute;
                    color: #fff;
                    font-family: 'Khula-SemiBold';
                    text-transform: uppercase;
                    font-size: 26px;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
                }

                &:hover {
                    scale: 1.04;
                }
            }

            /* Definindo imagens específicas para cada esporte */
            .esporte:nth-child(1) { background-image: url('/assets/images/futebol.png'); }
            .esporte:nth-child(2) { background-image: url('/assets/images/basquete.png'); }
            .esporte:nth-child(3) { background-image: url('/assets/images/volei.png'); }
            .esporte:nth-child(4) { background-image: url('/assets/images/handebol.png'); }
        }
    }
    .secao3{
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: #E9E9E9;
        padding-bottom: 30px;
        margin-top: 30px;
        h2{
            margin: 20px;
            font-family: 'LondrinaSolid-Regular';
            font-size: 30px;
            color: var(--secondary-color);
            text-align: center;
        }
        div{
            display: flex;
            flex-direction: row;
            gap: 30px;
            margin: 20px 0px;
            
            div{
                display: flex;
                flex-direction: column;
                width: 30%;
                align-items: center;
                img{
                    height: 250px;
                    width: 250px;
                    object-fit: cover;
                    border-radius: 100%;
                }
                p{
                    font-family: 'Khula-SemiBold';
                    font-size: 16px;
                    width: 55%;
                }
            }
        }
    }
    .secao4 {
        text-align: center;
        padding: 20px;
        font-family: Arial, sans-serif;

        h2 {
            font-family: 'LondrinaSolid-Regular';
            font-size: 30px;
            color: var(--secondary-color);
            margin: 30px 0px;
        }

        .imagens-container {
            display: flex;
            justify-content: space-around;
            gap: 20px;

            .imagem-esporte {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 716px;
                height: 399px; 
                border-radius: 15px;
                box-shadow: -10px 10px 15px rgba(14, 7, 154, 0.541);
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .button-container {
            margin: 70px 0;
            .button-cadastrar {
                color: var(--secondary-color);
                font-family: 'Khula-SemiBold';
                font-size: 20px;
                border: 3px solid var(--secondary-color);
                border-radius: 20px;
                padding: 10px 50px;
                background-color: transparent;
                transition: background-color 0.3s, color 0.3s;
                text-decoration: none;
    
                &:hover {
                    background-color: var(--secondary-color);
                    color: #fff;
                }
            }
        }
    }
}