.esqueceu-senha {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e3caee;
  font-family: 'Khula-Regular', sans-serif;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .title {
      font-size: 1.8rem;
      color: #6c63ff;
      margin-bottom: 1.2rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      color: #333;
      margin-bottom: 2rem;
      text-align: center;
    }

    .input-group {
      width: 100%;
      margin-bottom: 1.5rem;

      input {
        width: 100%;
        padding: 0.8rem 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.1);
        font-size: 0.9rem;

        &:focus {
          border-color: var(--primary-color);
          outline: none;
        }
      }
    }

    .submit-button {
      width: 100%;
      padding: 0.8rem;
      background-color: var(--primary-color);
      color: #fff;
      font-size: 1rem;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #bb26f7;
        box-shadow: 3px 3px 10px #6e6e6e;
      }
    }

    .login-link {
      margin-top: 1rem;
      font-size: 1rem;
      text-align: center;

      a {
        color: #6c63ff;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          color: #bb26f7;
        }
      }
    }
  }
}
