.Header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15vh;
    background-color: var(--primary-color);
    justify-content: space-between;
    color: #fff;

    a:visited{
        color: #fff;
    }
    
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30%;
        font-size: 15px;
    }

    .container>img{
        margin-left: 80px;
        width: 20%;
    }

    .links{
        justify-content: space-evenly;
        gap: 50px;
        a:hover{
            text-decoration: underline;
        }
    }

    .blogin{
        justify-content: center;
        span{
            padding: 10px 20px;
            background-color: #fff;
            color: var(--primary-color);
            border-radius: 10px;
            a:visited{
                color: var(--primary-color);
            }        
            &:hover{
                background-color: #d1d1d1;
                transition-duration: 0.3s;
            }
        }
    }

    a,span{
        font-family: 'Khula-SemiBold';
        &:hover{
        cursor: pointer;
    }}
    
}