.Partidas {
    background-color: #f9f9f9;

    .partidas-section {
        text-align: center;

        h1 {
            padding: 20px;
            font-family: 'Khula-Bold';
            color: var(--primary-color);
            margin-bottom: 20px;
        }

        .loading,
        .no-partidas {
            font-size: 1.2rem;
            color: var(--secondary-color);
        }

        .partidas-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
    }
}
